*::selection{
    background: #000;
    color: #FDDBC0;
}
@font-face {
    font-family:'Averia Serif Libre';
    src:  url('../fonts/AveriaSerifLibre-Regular.ttf') ;
}
@font-face {
    font-family:'Gilda Display' ;
    src:  url('../fonts/GildaDisplay-Regular.ttf') ;
}
@font-face {
    font-family: 'Prata';
    src:  url('../fonts/Prata-Regular.ttf') ;
}
.font-serif{
    font-family: 'Prata';
}
.font-mono{
    font-family:'Averia Serif Libre';
}
.welcome-section{
    height: 100vh;
}
.welcome-text-header{
    text-transform: uppercase;
}
body{
    background-color: #E3E0D8;
//     font-family: 'Averia Serif Libre', cursive;
// font-family: 'Gilda Display', serif;
// font-family: 'Prata', serif;
}
h1,h2,h3,h4,h5,h6{
    // font-family: serif;
    font-family: 'Prata', serif!important;
}
.project{
    width: 90%;
    height: 40vh;
    transition:all 3.5s ease-in ;
}

.link-item{
    transition: all 3.5s ease-in;
}
.link-item:hover{
// add line-through to text
    text-decoration: line-through;
    transition: all 3.5s ease-in;
}
a:hover{
    cursor: none;
}

.contain-links{
    a{
        text-decoration:underline;
    }
}

.project-info-description{
   opacity: .9;
}